//Colors

//Primary
$brightOrange: rgb(227, 136, 38);
$darkCyan: rgb(0, 105, 112);
$veryDarkCyan: rgb(0, 66, 65);

//Neutral
$transparentWhite: rgba(255, 255, 255, 0.749); //paragraphs
$veryLightGray: rgb(242, 242, 242); //background, headings, buttons

//Fonts
$fontBig: "Big Shoulders Display", cursive;
$fontLexand: "Lexend Deca", sans-serif;

// breakpoints
$breakpoints: (
  medium: 640px,
  large: 1024px,
);

//mixin
@mixin breakpoint($size) {
  @media screen and (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}
